<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Ukernaa | Coupon Checkout</title>
</head>
<body>
    <section class="card">        
        <div class="container">
            <div class="coupon-card">
                <img src="../images/UkernaaLogo.svg" alt="">
                <h3>Ukernaa's 1 Year Subscription</h3>
    
                <div class="coupon-row">
                    <span id="couponCode">
                        CODE
                    </span>
                    <span id="copyButton">
                        COPY
                    </span>
                </div>
    
                <p>Duration : Coming Soon</p>
    
    
    
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>
    </section>
    <section class="confirmation-form">
        <form class="form-content" action="https://docs.google.com/forms/u/8/d/e/1FAIpQLScfiQDgY7bE4ykNEasrcuwHXHhcX-lMmfBfyFEzqIhGJ0I-Rg/formResponse" target="_blank">
            <h3>Enter Your Name</h3>
            <input type="text" name="entry.549805292" placeholder="Enter Your Name">
            <h3>Enter Your Email to get the coupon code</h3>
            <input type="email" name="entry.882399426" id="email" placeholder="Enter your Email">
            <h3>Enter the Coupon Code</h3>
            <input type="text" name="entry.1900936903" id="coupon" placeholder="Enter the Coupon Code">
            <button type="submit">Submit</button>
        </form>
    </section>
</body>
<script src="../javaScript/app.js"></script>
</html>